@model leave_management.Models.BillingBusinessTravelVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessTravelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessTravelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaidOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaidOut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">
        <i class="fa fa-pencil-alt" aria-hidden="true"></i>Edit
    </a>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
