@model leave_management.Models.NotificationVM

@{
    ViewData["Title"] = "Szczegóły powiadomienia";
}

    <h1>Szczegóły powiadomienia</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfNotification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfNotification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateValidUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowSelectedEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowSelectedEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowSelectedDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowSelectedDepartment)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-block btn-warning" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-pencil"></i>Edytuj</a>
    <a class="btn btn-block btn-primary" asp-action="Index"> <i class="fa fa-arrow-alt-circle-left"></i> Powrót do podsumowania</a>
</div>
