@model leave_management.Models.CreateWorkTimeScheduleVM

@{
    ViewData["Title"] = "Utwórz Harmonogram";
}

<h1>Utwórz Harmonogram</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" type="text" value="@DateTime.Now.Date" class="form-control datepicker" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTo" class="control-label"></label>
                <input asp-for="DateTo" type="text" value="@DateTime.Now.Date" class="form-control datepicker" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingTimeSystem" class="control-label"></label>
                @Html.DropDownListFor(q => q.WorkingTimeSystem, new SelectList(Model.WorkingTimeSystems, "Value", "Text"), "", new { @class = "form-control" })
                <span asp-validation-for="WorkingTimeSystem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmployeeIds" class="control-label"></label>
                @Html.DropDownListFor(q => q.EmployeeIds, new SelectList(Model.Employees, "Value", "Text"), "Wybierz pracownika", new { @class = "form-control" })
                <span asp-validation-for="EmployeeIds" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnableChangeOfEmployees" /> @Html.DisplayNameFor(model => model.EnableChangeOfEmployees)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label"></label>
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz i przejdź dalej" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-arrow-alt-circle-left"></i> Powrót do podsumowania</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker').daterangepicker({
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Zatwierdź",
                    "cancelLabel": "Anuluj",
                    "fromLabel": "Od",
                    "toLabel": "Do",
                    "customRangeLabel": "Custom",
                    "weekLabel": "Tydzień",
                    "daysOfWeek": [
                        "Nd",
                        "Pn",
                        "Wt",
                        "Śr",
                        "Cz",
                        "Pt",
                        "So"
                    ],
                    "monthNames": [
                        "Styczeń",
                        "Luty",
                        "Marzec",
                        "Kwiecień",
                        "Maj",
                        "Czerwiec",
                        "Lipiec",
                        "Sierpień",
                        "Wrzesień",
                        "Październik",
                        "Listopad",
                        "Grudzień"
                    ],
                    "firstDay": 1
                },
                "alwaysShowCalendars": true,
                "showDropdowns": true,
                "singleDatePicker": true
            });


        });
    </script>
}
