@model IEnumerable<leave_management.Models.WorkTimeScheduleVM>

@{
    ViewData["Title"] = "Lista harmonogramów";
}

<h1>Lista harmonogramów</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-user-plus"></i> Utwórz nowy harmonogram</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Jesteś pewny że chcesz usunąć ten wpis?')">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    @if (item.IsApproved)
                    {
                        <a asp-action="Approve" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Jesteś pewny że chcesz unieważnić harmonogram?')">
                            <i class="fa fa-ban" aria-hidden="true"></i> Unieważnij
                        </a>
                    }
                    else
                    {
                        <a asp-action="Approve" class="btn btn-success" asp-route-id="@item.Id" onclick="return confirm('Jesteś pewny że chcesz zatwierdzić ten harmonogram?')">
                            <i class="fa fa-plus" aria-hidden="true"></i> Zatwierdź
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
