@model AdministratorLeaveRequestVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model == null)
{

    <h1>Nie znaleziono nowych wniosków</h1>

}
<div class="row mb-5">

    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-check-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@Model.TotalRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.TotalRequests)</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-exclamation-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@Model.PendingRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.PendingRequests)</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-check-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@Model.ApprovedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.ApprovedRequests)</span>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-times-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">@Model.RejectedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.RejectedRequests)</span>
            </div>
        </div>
    </div>
</div>

    <hr />

    <h1> Logi </h1>

    <table class="table" id="tblData">
        <thead>
            <tr>
                <th>
                    Employee
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Leave Type
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Date Requested
                </th>
                <th>
                    Zatwierdzenie
                </th>
                <th>
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeaveRequests)
            {
                if (item.Cancelled == true)
                {
                    continue;
                }

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname)  @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>
                    <td>
                        @if (item.Approved == true)
                        {
                            <span class="badge badge-success">Approved</span>
                        }
                        else if (item.Approved == false)
                        {
                            <span class="badge badge-danger">Denied</span>
                        }
                        else
                        {
                            <span class="badge badge-warning">Pending</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa fa-file"></i> Review
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>


