@model EmployeeLeaveRequestsVM

<h1>Przysługujące urlopy</h1>
<div class="jumbotron">
    <div class="card">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.CommonLeaveAllocations)
            {
                <li class="list-group-item">
                    <h6> @item.CommonLeaveType.Name : <span class="badge badge-secondary"></span>@item.NumberOfDays dni</h6>
                </li>
            }
            @foreach (var item in Model.ExplicitLeaveAllocations)
            {
                <li class="list-group-item">
                    <h6> @item.ExplicitLeaveType.Name : <span class="badge badge-secondary"></span>@item.NumberOfDays dni</h6>
                </li>
            }
        </ul>
    </div>
</div>


<hr />
<h1>Wnioski o urlop</h1>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Date Requested
            </th>

            <th>
                Approval State
            </th>

            <th>
                Cancel Request
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested, new { @value = item.DateRequested.ToString("yyyy-mm-dd") })
                </td>

                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending Approval</span>
                    }
                </td>

                <td class="text-center">
                    @if ( item.StartDate > DateTime.Now && item.Cancelled != true)
                    {
                        <a asp-action="CancelRequest" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Czy napewno chcesz anulować wniosek?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    }

                    else
                    {
                        <a class="btn btn-secondary" disabled>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>    
                    }
                </td>
            </tr>
        }
    </tbody>
</table>