@model IEnumerable<leave_management.Models.DepartmentVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus-circle"></i>Dodaj dział</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id" asp-route-employeeId="@item.Id" asp-route-employeeId="@item.OrganizationToken" asp-route-dateCreated="@item.DateCreated" asp-route-organizationToken="@item.OrganizationToken">
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                </a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Jesteś pewny że chcesz usunąć ten wpis?')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
